@tailwind base;
@tailwind components;
@tailwind utilities;


@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 2px 4px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}



@font-face {
  font-family: Lora;
  src: url(/public/Lora.ttf);
}

#root {
  width: 100vw;
  height: 100vh;
}

.user-input {
  display: flex; 
  flex-direction: column;
  margin-left: auto; 
  margin-right: 10%;
  width: 40%;
  justify-content: flex-end;
  font-family: sans-serif;
  font-size: 1.2em; 
}

.ai-output {
  width: 40%;
  font-family: monospace;
  font-size: 1.2em; 
}

.text-padding {
  padding-left: 20%;
}

.text-area-padding {
  padding-right: 20%;
}