:root {
  --clr-dark: #454f41; 
  --clr-light: #f7eaa6; 
  --clr-alt: #1e1e15;

  --fs-large: 2.5em;
  --fs-medium: 2em;
  --fs-small: 1em;

  --fw-bold: 800;
}

*{
  background: var(--clr-dark);
}

h1 {
  font-size: var(--fs-large);
}

h2 {
  font-size: var(--fs-medium);
}

h3 {
  font-size: var(--fs-small);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--clr-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--fs-large);
}

.section-subtitle {
  font-size: var(--fs-medium);
}