.title {
    color: var(--clr-light);
    text-align: center;
    margin-top: -0.5em; 
    margin-bottom: 2em;
    font-size: var(--fs-large);
}

.inputArea {
    text-align: center;
    margin-bottom: 2em;
}

.inquiry-prompt {
    font-size: var(--fs-medium);
}

.inquiry-textarea { 
    min-width: 50%;
    min-height: 5em;
    margin-bottom: -0.8em;
    margin-left: 4em;
    background-color: var(--clr-light);
    font-size: var(--fs-medium);
    outline: none;
    border-radius: 10px;
    resize: none;
}

.btn {
    padding: 1em;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-left: 2em;
    font-weight: var(--fw-bold);
}

.outputArea {
    padding: auto; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10em;
}

.output-prompt {
    font-size: var(--fs-medium);
    text-align: center;
}

.output-textarea {
    outline: none;
    resize: none;
    border-color: transparent;
    background: var(--clr-light);
    border-radius: 10px;
    min-width: 50%;
    min-height: 200px;
    font-size: var(--fs-medium);
}

.output-textarea:focus {
    outline: none
}