.section-testimonials,
.section-title-testimonials,
.section-subtitle-testimonials {
    background: var(--clr-alt);
}

.testimonial {
    background: var(--clr-alt); 
}

.testimonial-items {
    display: flex;
    background: var(--clr-light);
    flex-wrap: wrap;
    width: 50%;
    flex-direction: row;
    align-items: flex-start;
    max-width: 500px;
}